@use "variables" as v;

header {
    font-family: 'Instrument Serif', serif;
    background-color: v.$header-bg-color;
    color: v.$header-text-color;
    padding: v.$header-padding;
    text-align: center;

h1 {
    font-size: v.$header-font-size;
    margin-bottom: v.$header-margin-bottom;
}


}