@use "variables" as v;

.contenedor-rutinas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 5px 15px;
    margin: 0 auto;
    max-width: 1100px;
}

.card {
    @include v.card(10px, v.$sombra-card,15px);

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 1px solid grey;
    text-align: center;
    margin: 10px;
    transition: all 0.3s ease;

    :hover {
        transform: translateY(-5px);
        box-shadow: v.$sombra-hover;
    }
}

.card__imagen {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.card__texto {
    padding: 10px;
    font-size: medium;
    font-weight: bold;
}

.card__boton {
    padding: 10px;
    font-size: large;
    border: none;
    background-color: v.$rosa;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px grey;
    transition: 0.3s;

    :hover {
        background-color: lightgrey;
        color: black;
    }
}
